.Home {
    text-align: center;
  }
  
  .Home-container {
    margin: 0 auto;
    width: 80%;
    border: 1px solid #333;
    padding: 10px 0 30px 0;
    border-radius: 5px;
    margin-bottom : 50px;
  }
  
  .form-wrapper{
    width: 80%;
    margin: 0 auto;
  }
  
  .title-input {
    width: 500px;
    height: 30px;
    margin: 10px;
  }
  
  .text-area {
    width: 80%;
    min-height: 200px;
  }
  
  .ck.ck-editor__editable:not(.ck-editor__nested-editable) {
    min-height: 200px;
  }